<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Read other apps' foreground time. Special permission: it cannot be
         requested in-app, the user grants it in Settings. -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".NestlingApp"
        android:label="Nestling"
        android:allowBackup="false"
        android:supportsRtl="true"
        tools:targetApi="37" />
</manifest>
